#bio {
  h1 {
    color: #EB3F1E;
  }

  a, a:hover {
    padding-bottom: 2px;

    color: #EB3F1E;
    text-decoration: none;

    border-bottom: 1px dashed #EB3F1E;
  }

  em {
    color: #ACB03D;
    font-style: normal;
    font-weight: 500;
  }

  @media (min-width: $large-device) {
    margin-right: 2%;
    width: 54%;

    float: left;
  }

}
