#pic {
  display: none;

  @media (min-width: $large-device) {
    width: 44%;

    display: block;
    float: left;
  }

  img {
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    display: block;
  }
}
